.Carousel {
  margin: 10px auto;
  max-width: 800px;
}

.Carousel-container {
  position: relative;
  padding: 0 36px;
}

.Carousel-stage {
  overflow: hidden;
}

.Carousel-content {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  transform: translateX(0);
  transition-property: transform;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

.Carousel-item {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 100%;
}

.Carousel-link {
  display: block;
}

.Carousel-image {
  display: block;
  width: 100%;
  height: auto;
}

/* コントローラー */
.Carousel-button {
  position: absolute;
  top: 0;
  width: 36px;
  border-width: 0;
  height: 100%;
  overflow: hidden;
  background-color: transparent;
  background-image: none;
  color: deepskyblue;
  cursor: pointer;
}

.Carousel-button:disabled {
  color: lavender;
}
.Carousel-button:not(:disabled):hover {
  color: deeppink;
}

.Carousel-button::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
}

.Carousel-button._prev {
  left: 0;
}
.Carousel-button._prev::after {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 18px;
  height: 18px;
  content: "";
  right: 0;
  left: 8px;
  box-shadow: inset 4px 4px 0 currentColor;
  transform: rotate(-45deg);
  transition: 0.3s;
}

.Carousel-button._next {
  right: 0;
}
.Carousel-button._next::after {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 18px;
  height: 18px;
  content: "";
  right: 8px;
  left: 0;
  box-shadow: inset -4px 4px 0 currentColor;
  transform: rotate(45deg);
  transition: 0.3s;
}

/* 下部エリア */
.Carousel-footer {
  margin-top: 10px;
  padding: 0 36px;
}

/* 再生/一時停止ボタン */

/* インジケータ */
.Carousel-indicator {
  display: flex;
  justify-content: center;
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

.Carousel-indicatorItem {
  margin: 0 5px;
  width: 16px;
  height: 16px;
}

.Carousel-indicatorButton {
  position: relative;
  box-sizing: border-box;
  border-width: 2px;
  border-style: solid;
  border-radius: 50%;
  border-color: currentColor;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: transparent;
  background-image: none;
  color: deepskyblue;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.Carousel-indicatorButton:disabled {
  background-color: deepskyblue;
}

.Carousel-indicatorButton::before {
  display: block;
  padding-top: 100%;
  width: 100%;
  height: 0;
  content: "";
}

/* 再生/一時停止ボタン */
.Carousel-playButton,
.Carousel-pauseButton {
  position: absolute;
  margin: -2px 0 -2px;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: currentColor;
  border-radius: 0;
  padding: 18px 0 0;
  width: 20px;
  height: 0;
  overflow: hidden;
  background-color: transparent;
  color: tomato;
}

.Carousel-playButton:disabled,
.Carousel-pauseButton:disabled {
  visibility: hidden;
}

.Carousel-playButton::before,
.Carousel-pauseButton::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  content: "";
}

.Carousel-playButton::before {
  /* 背景にアイコンを描画 */
  right: 1px;
  width: 0;
  height: 0;
  border-width: 6px 0 6px 8px;
  border-style: solid;
  border-top-color: transparent;
  border-bottom-color: transparent;
}

.Carousel-pauseButton::before {
  /* 背景にアイコンを描画 */
  width: 10px;
  height: 10px;
  background-image: linear-gradient(
    to right,
    currentColor 4px,
    transparent 4px,
    transparent 6px,
    currentColor 6px
  );
}
